@use 'variables';

[data-hero] {
  [data-hero-element=headline] {
    .char {
      transform: translate(0px, 100%);
    }
  }
}

[data-hero=home] {
  [data-hero-element=paragraph]  {
    .line {
      clip-path: variables.$topClipPath;
    }
  }
  [data-hero-element=video-outer] {
    clip-path: variables.$bottomClipPath;
  }
  [data-hero-element=teaser-wrap] {
    clip-path: variables.$centerHorizontalPath;
    img {
      scale: 0.95;
    }
  }
 
  [data-hero-element=trust]{
    @media (max-width: variables.$breakpoint-mobile) {
      transform: translate(0px, 300%);
    }
    transform: translate(0px, 110%);
  }
  [data-hero-element=cta] {
    clip-path: variables.$bottomClipPath;
  }
  [data-hero-element=scroll] {
    transform: translate(0px, 100%);
  }
  [data-pattern=element-wrap] {
    transform: scale(0);
  }
}

[data-hero=detail] {
  [data-flip-element=end]:not(.is-hidden) {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}
